<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="7ac91cb5-4475-465d-ba7d-1876a353ddbb" Publisher="CN=Administrator" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="7ac91cb5-4475-465d-ba7d-1876a353ddbb" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>购物导航</DisplayName>
    <PublisherDisplayName>杭州笨虎网络科技有限公司</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ShopBrowser2.App">
      <uap:VisualElements DisplayName="购物导航" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="网购导航（通用版）是专门为Win10平台用户打造的极速购物浏览器，支持全球各大知名电商，双屏浏览模式方便用户跨电商比价、商品详情比较，方便快速购物。" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\LockScreenLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="购物导航" Square310x310Logo="Assets\Square310x310Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0076FF" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>